*.log
*.mp3
*.wav
__pycache__/
.ipynb_checkpoints/

ai_feature_annotation/data/output/
ai_feature_annotation/data/checkpoints/
ai_feature_annotation/data/vectors/
data_tools/explore_dataset/cc_100_vocab/
data_tools/explore_dataset/found_n_grams/
next_verse_pred/data
bajohr_halbzeug_perplexity.txt
john_bock.txt
